extends inc/page.pug
block template
  :php
    /*
    Template Name: Home Page
    */
block content
  :php
    $about = get_field("about_section");
    $audio = get_field("audio_work");
    $video = get_field("video_work");
    $photos = get_field("photos");
    function blurb($header,$content) {
      $output="";
      if ($header!="") {
        $output .= sprintf("<h2>%s</h2>",$header);
      }      
      if ($content!="") {
        $output .= sprintf("<div class='wysiwyg'>%s</div>",$content);
      }    
      return $output;  
    }
  main
    section.about
      .inner
        :php
          echo blurb($about["header"],$about["content"]);
    section.audio
      .inner
        :php
          echo blurb($audio["section_header"],$audio["section_copy"]);
        .item-gallery.audio
          :php
            foreach($audio["audio_items"] as $idx=>$item) {
              printf("<div class='item'><div class='title'>%s</div><div class='description'>%s</div><div class='player'>%s</div></div>",$item["title"],$item["description"],$item["embed_code"]);
            }
    section.video
      .inner
        :php
          echo blurb($video["section_header"],"");    
      .item-gallery.audio
        :php
          foreach($video["videos"] as $idx=>$item) {
            printf("<div class='item'><div class='title'>%s</div><div class='player'>%s</div></div>",$item["title"],$item["embed_code"]);
          }
    section.photos
      :php
        echo blurb($photos["section_header"],$photos["section_copy"]);
      .item-gallery.photos
        :php
          foreach($photos["photos"] as $idx=>$item) {
            printf("<div class='item photo'><div class='thumb' data-bg-array='%s'><div class='caption'>%s</div></div>",json_encode($item["photo"],JSON_UNESCAPED_SLASHES),$item["caption"]);
          }