extends inc/page.pug
block template
  :php
    /*
    Template Name: Default Page Template
    */
block content
    section.content
        .inner.max-width
            :php
                printf("<h1>%s</h1><div class='wysiwyg'>%s</div>",get_the_title(),get_the_content());

