extends inc/page.pug
block template
  :php
    /*
    Template Name: Dispensary Review
    Template Post Type: post
    */
block content
    article
      h1
          :php
              the_title();    
      .gallery
          :php
              foreach(get_field("photos") as $idx=>$photo) {
                printf("<div class='slide'><div class='inner'><div class='slide-image' data-bg-array='%s'></div></div></div>", json_encode($photo["image"], JSON_UNESCAPED_SLASHES));
              }
      .store-meta