extends inc/page.pug
block template
  :php
    /*
    Template Name: Single Blog Entry Template
    */
block content
  article.blog-post(role='article',itemprop='haspart',itemscope='',itemtype='http://schema.org/Article')
    meta(itemscope='itemscope',itemprop='mainEntityOfPage',itemType='https://schema.org/WebPage')
    :php
      printf("<div class='thumb' data-bg='%s'></div><h1 itemprop='headline'>%s</h1><div class='date'>%s</div><div class='wysiwyg' itemprop='articleBody'>%s</div>",get_post_meta(get_the_id(),"_social_image_url")[0],get_the_title(), get_the_date(), get_the_content());
