extends inc/page.pug
block template
  :php
    /*
    Template Name: Sortable List
    */
block content
    :php
        $args = array(
            'posts_per_page'   => -1,
            'post_type'        => 'post',
        );
        $the_query = new WP_Query( $args );
        $products = [];
        if ( $the_query->have_posts() ) : 
            while ( $the_query->have_posts() ) : $the_query->the_post(); 
                $pi = get_field("product_info");
                if ($pi) {
                array_push($products, [
                                "info"=>$pi,
                                "scores"=>get_field("scores"),
                                "url"=>get_the_permalink()
                            ]);
                }  
            endwhile; 
        endif;   
        printf("<script>var productData=%s</script>",json_encode($products));     
    article
        section.article-main-block.padding-both
            .content-wrapper
                #product-table-sortable
     
