
header.page-header#page-header
  .logo
    h1 Mike Hsu
      .drop
        p email@email.com
        p 617 555.1212
  nav
    ul
      li
        a.btn-about(href="/blog/") blog
      li
        a.btn-about(href="/sontact/") contact