header.page-header#page-header
  .inner
    a.logo(href="/")
      h1 Dispensary Adventures
    nav
      input#menu-toggle(type="checkbox")
      label(for="menu-toggle")
        include ./pot-leaf.pug
      .menu
        ul
          li
            a.btn-about(href="/about/") About
          li
            a.btn-about(href="/list/") Weed Review Stats