body {
  font-family: $body-font;
  color: $body-text-color;
  background: $off-white;
  min-height: 100vh;
}
#wrapper {
  background: $white;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.padding-top {
  padding-top: $gutter-width * 2;
}
.padding-bottom {
  padding-bottom: $gutter-width * 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $header-font;
  padding: $gutter-width/2 0 $gutter-width/3;
}
p {
}
a {
  text-decoration: none;
  color: $body-link-color;
  &:hover {
    text-decoration: none;
    color: $body-link-hover-color;
  }
}
p,
li {
  margin: 0;
  padding-top: $gutter-width/4;
  padding-bottom: $gutter-width/3;
  font-weight: 300;
  font-size: 1.2em;
}
.centered {
  text-align: center;
}
.cartoon {
  font-family: $nav-font;
  font-weight: normal;
}
.gallery {
  width: 100%;
  overflow: hidden;
  padding-bottom: $gutter-width;
  position: relative;
  &:active,
  &:focus {
    outline: none;
  }
  .flickity-button {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 25px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    opacity: 0;
    svg {
      fill: #fff;
      stroke: #fff;
      width: 100%;
    }
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
  .flickity-page-dots {
    list-style: none;
    padding: 0;
    display: block;
    text-align: center;
    margin: $gutter-width 0;
    opacity: 0.25;
    transition: opacity 0.5s ease-in;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 0;
      padding: 0;
      border-radius: 50%;
      background: $bright-green;
      margin: 0 $gutter-width/2;
      border: 1px solid transparent;
      &.is-selected {
        background: $dark-green;
        border-color: $white;
      }
      &:hover {
        border-color: $pale-green;
        cursor: pointer;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  .slide {
    width: 100%;
    @include aspect-ratio(4, 3);
    .zoom-icon {
      display: none;
      background: transparent;
      border: none;
      font-size: 1em;
      position: absolute;
      bottom: $gutter-width/2;
      left: $gutter-width/2;
      opacity: 0.6;
      color: transparent;
      font-size: 0.8em;
      transition: all 0.25s ease-in;
      .fa {
        color: $white;
        padding-right: 0.3em;
        font-size: 1.2em;
      }
      &:hover {
        opacity: 1;
        cursor: pointer;
        color: $white;
      }
    }
  }
  .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    .slide-image {
      @include aspect-ratio(4, 3);
      width: 100%;
      background-size: cover;
      background-color: $off-black;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
    }
  }
  &:hover {
    .flickity-button {
      opacity: 1;
    }
  }
  &.flickity-enabled {
    .slide .zoom-icon {
      @include bp(m) {
        display: block;
      }
      
    }
  }
}

.padded {
  padding: $gutter-width/2 $gutter-width;
}
.padding-top {
  padding-top: $gutter-width;
}
.padding-bottom {
  padding-bottom: $gutter-width;
}
.padding-both {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
}
.article-header-block {
  h1 {
    padding-top:$gutter-width;
    font-family: $nav-font;
    font-size:2em;
    letter-spacing:3px;
    -webkit-text-stroke:1px $green;
    text-align:center;
  }
  .date {
    display:block;
    text-align:center;
    padding-bottom:$gutter-width*2;
  }
}
.article-main-block {
  padding-bottom:$gutter-width*2;
  p,
  li {
    line-height: 1.5;
  }
  li {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.content-wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  .alignright,
  .alignleft {
    width: 100%;
    height: auto;
    @include bp(s) {
      width: 45%;
    }
  }
  .alignright {
    float: right;
    padding: 0 0 $gutter-width $gutter-width;
  }
  .alignleft {
    float: left;
    padding: 0 $gutter-width $gutter-width 0;
  }
}
.category-header {
  background: linear-gradient(90deg, $black 0%, $darker-green 40%, $darker-green 60%, $black 100%);
  h2 {
    color: $light-gray;
    padding: 0;
    line-height: 3;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }
}
.review-header {
  padding-bottom: $gutter-width/2;
  text-align: center;
  h1 {
    margin: 0;
    padding: $gutter-width 0 $gutter-width/2;
  }
}
.bg-green {
  background: $dark-green;
  color: $white;
}
.bg-dark-green {
  background: $darker-green;
  color: $white;
}
.bg-black {
  background: $black;
  color: $white;
}
.lens {
  opacity: 0;
  position: absolute;
  border: 2px solid grey;
  border-radius: 50%;
  overflow: hidden;

  box-shadow: inset 0 0 10px 2px grey;
  filter: drop-shadow(0 0 2px grey);

  .slide-image {
    bottom: auto;
  }
  &.active {
    opacity: 1;
    cursor: none;
    & > * {
      cursor: none;
    }
  }
}

.sort-table-arrows {
  float:right; 
  display: flex;
  flex-direction: column;
  button {
    font-size: 10px;
    padding: 0 0 0 0;
    margin: 0;
    background: transparent;
    border: none;
    .fa {
      color: $green;
      &:hover {
        color: lighten($green, 10%);
      }
    }
    &:active,
    &:focus {
      outline: none;
    }
    &.active {
      .fa {
        color:$white;
      }
    }
  }
}
table.sortable {
  p {
    margin: 0;
  }
  thead {
    color: $white;
    p {
      font-weight: normal;
      font-size: 12px;
      float: left;
    }
    tr.header-header {
      padding: 0;
      margin: 0;
      th {
        padding: 0;
        margin: 0;
      }
      p {
        margin: 0;
        padding: $gutter-width/4 0 0;
        float:none;
        text-transform: uppercase;
        text-align: center;
      }
    }
    th {
      background: $black;
      &:nth-child(n+4) {
        background:$gray;
      }
      &:nth-child(n + 9) {
        background: $off-black;
      }
      &.score-header {
        background: $off-black;
        text-align: center;
        line-height: 0;
      }
      &.details-header {
        background:$gray;
      }
      &.active {
        p {
          text-decoration:underline;
        }
      }
    }
  }
  td,
  th {
    width: 18%;
    padding: 5px;
    text-align: left;
    &:nth-child(n + 4) {
      width: 6%;
      text-align: center;
    }
  }
  th {
      padding-right:$gutter-width/4;
      &:nth-child(n + 4) {
        padding-right:0;
      p {
        float: none;
      }
        .sort-table-arrows {
        float:none;

      }
    }  
  }
  tbody {
    tr {
      &:nth-child(2n) {
        background:rgba(0,0,0,.05);
        border-bottom:1px solid rgba(0,0,0,.1);
      }
    }
  }
  td {
    p {
      font-size:14px;
    }
    &:nth-child(n + 4) {
    }
  }
}
.social-share {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0 $gutter-width 0 0;
  font-size: 0.8em;
  margin-top: -12px;
  li {
    display: inline-block;
  }
}
