.home-blogroll {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin-top:$gutter-width;
  .blog-thumb, .blog-spacer {
    flex-basis:100%;
    display:block;
    margin-bottom:$gutter-width*2;
    width:100%;
    
    @include bp(m) {
      display:flex;
      border:1px solid $black;
      flex-direction:column;
      margin-bottom:$gutter-width;
    }
    .inner {
      position:relative;
      padding:$gutter-width/2;
      height:100%;
    }
    .thumb {
      @include aspect-ratio(4,3);
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center top;
    }
    .post-date {
      position:absolute;
      right:$gutter-width;
      top:$gutter-width;
      color:$white;
      text-shadow:1px 1px 5px rgba(0,0,0,.8);
    }
    .content {
      position:absolute;
      bottom:$gutter-width/2;
      left:$gutter-width/2;
      right:$gutter-width/2;
      overflow:hidden;
      top:auto;
      background:rgba(0,0,0,0.6);
      color:$white;
      h2 {
        margin:0;
        font-size:1.4em;
        padding:$gutter-width/2;
      }
    }
    &:hover {
      border-color:$green;
      .inner {
        
        @include bp(m) {
          background:rgba(0,0,0,.1);
        }
        
        .content {
          background:$bright-green;
        }
      }
    }
    @include bp(m) {
      flex-basis:31.3%;
      
      .inner {
        width:auto;
      }
    }
  }
  .blog-spacer {
    display:none;
    border-color:transparent;
    &:hover {
      border-color:transparent;
    }
    @include bp(m) {
      display:block;
    }
  }
}
.home-more-button {
  text-align:center;
}