@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Droid+Sans&display=swap');
@import "./_variables.scss";
body {
  font-family:$body-font;
  h1, h2, h3, h4, h5, h6 {
    font-family:$header-font;
  }
}
#login, .login {
  h1 {
    width:100%;
    a {
      width:100%;
      min-height:200px;
      background-image:url($local-path+"/images/logo-header.jpg");
      background-size:contain;
    }
  }
}
